<html>
<head>
    <title>curd operations</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        background-color: greenyellow;
    }
    h1 {
        font-family: "Droid Serif";
        text-align: center;
        background-color: hotpink;
    }
    h3{
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
        text-align: center;

    }
    .nani{
        margin-top: 10px;
        background-color: cyan;
        border-radius: blue 2px solid;
    }
    .btn{
        height: 50px;
        width: 120px;
        font-size: 25px;
    }

</style>

<body>
<h1>Welcome to DjangoSoft</h1>
<center><div class="nani">
<h3>Welcome to CURD Operations</h3>
<a type="button" class="btn btn-success" href="/insert/">Create</a>
<a type="button" class="btn btn-primary" href="/update/">Update</a>
<a type="button" class="btn btn-danger" href ="/retrieve/">Retrieve</a>
<a type="button" class="btn btn-info" href="/delete/">Delete</a>
</div></center>
</body>
</html>